.hero-title {
    font-size: 100px;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
}


.hero-container {
    position: relative;
    height: 100vh;
    max-height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.hero-container::before {
    content: "";
    background: url('../../../public/images/solar_engineer_img_02.jpg') center center/cover no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    /* opacity: 35%; */
 }


.hero-logo {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    opacity: 85%;
}
